* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.home {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./assets/close-up-collection-make-up-beauty-products.jpg') center center/cover no-repeat;
    height: 70vh;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 auto;
    border-radius: 7px;
}


.home h1 {
    color: white;
    font-weight: bolder;
    filter: brightness(1);
}

@media screen and(max-width: 1076px) {
    .home {
        width: 100%;
    }    
}